USE [master]
GO
/****** Object:  Database [IdentityDB]    Script Date: 8/23/2026 5:03:16 PM ******/
CREATE DATABASE [IdentityDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'IdentityDB', FILENAME = N'/var/opt/mssql/data/IdentityDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'IdentityDB_log', FILENAME = N'/var/opt/mssql/data/IdentityDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IdentityDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IdentityDB]
GO
/****** Object:  Table [dbo].[addresses]    Script Date: 8/23/2026 5:03:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[addresses](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[label] [nvarchar](50) NULL,
	[full_name] [nvarchar](150) NOT NULL,
	[phone] [nvarchar](20) NOT NULL,
	[line1] [nvarchar](255) NOT NULL,
	[line2] [nvarchar](255) NULL,
	[city] [nvarchar](100) NOT NULL,
	[governorate] [nvarchar](100) NOT NULL,
	[country] [nvarchar](100) NOT NULL,
	[postal_code] [nvarchar](20) NULL,
	[is_default] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[refresh_tokens]    Script Date: 8/23/2026 5:03:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[refresh_tokens](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[jti] [uniqueidentifier] NOT NULL,
	[session_id] [uniqueidentifier] NOT NULL,
	[token_hash] [nvarchar](255) NOT NULL,
	[replaced_by_token_id] [bigint] NULL,
	[expires_at] [datetime2](7) NOT NULL,
	[revoked_at] [datetime2](7) NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[jti] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 8/23/2026 5:03:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SchemaMigrations]    Script Date: 8/23/2026 5:03:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SchemaMigrations](
	[FileName] [nvarchar](255) NOT NULL,
	[AppliedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[FileName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_roles]    Script Date: 8/23/2026 5:03:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_roles](
	[user_id] [bigint] NOT NULL,
	[role_id] [int] NOT NULL,
	[created_by] [bigint] NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_user_roles] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_tokens]    Script Date: 8/23/2026 5:03:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_tokens](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[type] [nvarchar](30) NOT NULL,
	[token_hash] [nvarchar](255) NOT NULL,
	[expires_at] [datetime2](7) NOT NULL,
	[used_at] [datetime2](7) NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 8/23/2026 5:03:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[first_name] [nvarchar](100) NOT NULL,
	[last_name] [nvarchar](100) NOT NULL,
	[phone] [nvarchar](20) NULL,
	[is_active] [bit] NOT NULL,
	[is_email_verified] [bit] NOT NULL,
	[email_verified_at] [datetime2](7) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_addresses_user_default]    Script Date: 8/23/2026 5:03:17 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_addresses_user_default] ON [dbo].[addresses]
(
	[user_id] ASC
)
WHERE ([is_default]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[addresses] ADD  DEFAULT ('Egypt') FOR [country]
GO
ALTER TABLE [dbo].[addresses] ADD  DEFAULT ((0)) FOR [is_default]
GO
ALTER TABLE [dbo].[addresses] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[addresses] ADD  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[refresh_tokens] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[SchemaMigrations] ADD  DEFAULT (sysutcdatetime()) FOR [AppliedAt]
GO
ALTER TABLE [dbo].[user_roles] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[user_tokens] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((0)) FOR [is_email_verified]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[addresses]  WITH CHECK ADD  CONSTRAINT [FK_addresses_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[addresses] CHECK CONSTRAINT [FK_addresses_users]
GO
ALTER TABLE [dbo].[refresh_tokens]  WITH CHECK ADD  CONSTRAINT [FK_refresh_tokens_replaced_by] FOREIGN KEY([replaced_by_token_id])
REFERENCES [dbo].[refresh_tokens] ([id])
GO
ALTER TABLE [dbo].[refresh_tokens] CHECK CONSTRAINT [FK_refresh_tokens_replaced_by]
GO
ALTER TABLE [dbo].[refresh_tokens]  WITH CHECK ADD  CONSTRAINT [FK_refresh_tokens_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[refresh_tokens] CHECK CONSTRAINT [FK_refresh_tokens_users]
GO
ALTER TABLE [dbo].[user_roles]  WITH CHECK ADD  CONSTRAINT [FK_user_roles_created_by] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[user_roles] CHECK CONSTRAINT [FK_user_roles_created_by]
GO
ALTER TABLE [dbo].[user_roles]  WITH CHECK ADD  CONSTRAINT [FK_user_roles_roles] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[user_roles] CHECK CONSTRAINT [FK_user_roles_roles]
GO
ALTER TABLE [dbo].[user_roles]  WITH CHECK ADD  CONSTRAINT [FK_user_roles_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[user_roles] CHECK CONSTRAINT [FK_user_roles_users]
GO
ALTER TABLE [dbo].[user_tokens]  WITH CHECK ADD  CONSTRAINT [FK_user_tokens_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[user_tokens] CHECK CONSTRAINT [FK_user_tokens_users]
GO
ALTER TABLE [dbo].[user_tokens]  WITH CHECK ADD  CONSTRAINT [CHK_user_tokens_type] CHECK  (([type]='PasswordReset' OR [type]='EmailVerification'))
GO
ALTER TABLE [dbo].[user_tokens] CHECK CONSTRAINT [CHK_user_tokens_type]
GO
/****** Object:  StoredProcedure [dbo].[create_address]    Script Date: 8/23/2026 5:03:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 20260823_161019_create_addresses.sql
-- Service: identity-service
-- Type: SP
-- Created: 2026-08-23T13:10:19.258Z
-- ============================================================================
CREATE   PROCEDURE [dbo].[create_address]
    @UserId BIGINT,
    @Label NVARCHAR(50) = NULL,
    @FullName NVARCHAR(150),
    @Phone NVARCHAR(20),
    @Line1 NVARCHAR(255),
    @Line2 NVARCHAR(255) = NULL,
    @City NVARCHAR(100),
    @Governorate NVARCHAR(100),
    @Country NVARCHAR(100) = 'Egypt',
    @PostalCode NVARCHAR(20) = NULL,
    @IsDefault BIT = 0
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;
    BEGIN TRY
        -- A user should never end up with zero default addresses —
        -- if this is their first, force it to be the default regardless
        -- of what was passed in.
        IF NOT EXISTS (SELECT 1 FROM addresses WHERE user_id = @UserId)
            SET @IsDefault = 1;

        -- Same "unset all, then set one" pattern as prd.set_primary_product_image
        IF @IsDefault = 1
        BEGIN
            UPDATE addresses
            SET is_default = 0
            WHERE user_id = @UserId;
        END

        INSERT INTO addresses (
            user_id, label, full_name, phone, line1, line2,
            city, governorate, country, postal_code, is_default,
            created_at, updated_at
        )
        VALUES (
            @UserId, @Label, @FullName, @Phone, @Line1, @Line2,
            @City, @Governorate, @Country, @PostalCode, @IsDefault,
            SYSUTCDATETIME(), SYSUTCDATETIME()
        );

        DECLARE @NewAddressId BIGINT = SCOPE_IDENTITY();

        COMMIT TRANSACTION;

        SELECT
            id,
            user_id AS userId,
            label,
            full_name AS fullName,
            phone,
            line1,
            line2,
            city,
            governorate,
            country,
            postal_code AS postalCode,
            is_default AS isDefault,
            created_at AS createdAt,
            updated_at AS updatedAt
        FROM addresses
        WHERE id = @NewAddressId;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[create_password_reset_tokens]    Script Date: 8/23/2026 5:03:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 20260823_161007_create_password_reset_tokens.sql
-- Service: identity-service
-- Type: SP
-- Created: 2026-08-23T13:10:07.595Z
-- ============================================================================
CREATE   PROCEDURE [dbo].[create_password_reset_tokens]
@UserId BIGINT, @TokenHash NVARCHAR (255), @ExpiresAt DATETIME2
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
        UPDATE user_tokens
        SET    used_at = SYSUTCDATETIME()
        WHERE  user_id = @UserId
               AND type = 'PasswordReset'
               AND used_at IS NULL;
        INSERT  INTO user_tokens (user_id, type, token_hash, expires_at, used_at, created_at)
        VALUES                  (@UserId, 'PasswordReset', @TokenHash, @ExpiresAt, NULL, SYSUTCDATETIME());
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[create_refresh_token]    Script Date: 8/23/2026 5:03:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 20260823_160957_create_refresh_token.sql
-- Service: identity-service
-- Type: SP
-- Created: 2026-08-23T13:09:57.643Z
-- ============================================================================
CREATE   PROCEDURE [dbo].[create_refresh_token]
@UserId BIGINT, @Jti UNIQUEIDENTIFIER, @SessionId UNIQUEIDENTIFIER, @TokenHash NVARCHAR (255), @ReplacedByTokenId BIGINT=NULL, @ExpiresAt DATETIME2
AS
BEGIN
    SET NOCOUNT ON;
    INSERT  INTO refresh_tokens (user_id, jti, session_id, token_hash, replaced_by_token_id, expires_at)
    VALUES                     (@UserId, @Jti, @SessionId, @TokenHash, @ReplacedByTokenId, @ExpiresAt);
END
GO
/****** Object:  StoredProcedure [dbo].[create_user]    Script Date: 8/23/2026 5:03:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 20260823_160952_create_user.sql
-- Service: identity-service
-- Type: SP
-- Created: 2026-08-23T13:09:52.137Z
-- ============================================================================
CREATE   PROCEDURE [dbo].[create_user]
@Email NVARCHAR (255), @PasswordHash NVARCHAR (255), @FirstName NVARCHAR (100), @LastName NVARCHAR (100), @Phone NVARCHAR (20), @RoleName NVARCHAR (50)
AS
BEGIN
    DECLARE @NewUserId AS INT, @RoleId AS INT;
    SET NOCOUNT ON;
    BEGIN TRANSACTION;
    BEGIN TRY

        IF EXISTS (SELECT 1
                   FROM   users
                   WHERE  email = @Email)
            BEGIN
                ;THROW 50001, 'Email already exists.', 1;
            END
        INSERT  INTO users (email, password_hash, first_name, last_name, phone)
        VALUES            (@Email, @PasswordHash, @FirstName, @LastName, @Phone);
        SET @NewUserId = SCOPE_IDENTITY();
        SELECT @RoleId = id
        FROM   roles
        WHERE  name = @RoleName;
        IF @RoleId IS NULL
            BEGIN
                ;THROW 50002, 'Role does not exist.', 1;
            END
        INSERT  INTO user_roles (user_id, role_id)
        VALUES                 (@NewUserId, @RoleId);
        COMMIT TRANSACTION;
        SELECT id,
               first_name,
               email,
               created_at
        FROM   users
        WHERE  id = @NewUserId;
    END TRY
    BEGIN CATCH
        ROLLBACK;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[get_address_by_id]    Script Date: 8/23/2026 5:03:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 20260823_161021_get_address_by_id.sql
-- Service: identity-service
-- Type: SP
-- Created: 2026-08-23T13:10:21.258Z
-- ============================================================================
CREATE   PROCEDURE [dbo].[get_address_by_id]
    @Id BIGINT,
    @UserId BIGINT
AS
BEGIN
    SET NOCOUNT ON;

    -- Ownership check baked directly into the WHERE clause — never trust
    -- the service layer alone to have scoped this to the right user.
    IF NOT EXISTS (
        SELECT 1 FROM addresses WHERE id = @Id AND user_id = @UserId
    )
    BEGIN
        ;THROW 50004, 'Address not found.', 1;
    END

    SELECT
        id,
        user_id AS userId,
        label,
        full_name AS fullName,
        phone,
        line1,
        line2,
        city,
        governorate,
        country,
        postal_code AS postalCode,
        is_default AS isDefault,
        created_at AS createdAt,
        updated_at AS updatedAt
    FROM addresses
    WHERE id = @Id AND user_id = @UserId;
END
GO
/****** Object:  StoredProcedure [dbo].[get_addresses]    Script Date: 8/23/2026 5:03:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 20260823_161023_get_addresses.sql
-- Service: identity-service
-- Type: SP
-- Created: 2026-08-23T13:10:23.204Z
-- ============================================================================
CREATE   PROCEDURE [dbo].[get_addresses]
    @UserId BIGINT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        id,
        user_id AS userId,
        label,
        full_name AS fullName,
        phone,
        line1,
        line2,
        city,
        governorate,
        country,
        postal_code AS postalCode,
        is_default AS isDefault,
        created_at AS createdAt,
        updated_at AS updatedAt
    FROM addresses
    WHERE user_id = @UserId
    ORDER BY is_default DESC, created_at DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[get_refresh_token_by_hash]    Script Date: 8/23/2026 5:03:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 20260823_161000_get_refresh_token_by_hash.sql
-- Service: identity-service
-- Type: SP
-- Created: 2026-08-23T13:10:00.080Z
-- ============================================================================
CREATE   PROCEDURE [dbo].[get_refresh_token_by_hash]
@TokenHash NVARCHAR (255)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT id,
           user_id,
           jti,
           session_id,
           token_hash,
           expires_at,
           revoked_at,
           replaced_by_token_id
    FROM   refresh_tokens
    WHERE  token_hash = @TokenHash;
END
GO
/****** Object:  StoredProcedure [dbo].[get_user_by_email]    Script Date: 8/23/2026 5:03:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 20260823_160953_get_user_by_email.sql
-- Service: identity-service
-- Type: SP
-- Created: 2026-08-23T13:09:53.977Z
-- ============================================================================
CREATE   PROCEDURE [dbo].[get_user_by_email]
@Email NVARCHAR (50)
AS
BEGIN
    SELECT id,
           email,
           password_hash,
           first_name,
           last_name,
           is_active
    FROM   users
    WHERE  email = @Email;
END
GO
/****** Object:  StoredProcedure [dbo].[get_user_roles_by_user_id]    Script Date: 8/23/2026 5:03:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 20260823_160955_get_user_roles_by_user_id.sql
-- Service: identity-service
-- Type: SP
-- Created: 2026-08-23T13:09:55.788Z
-- ============================================================================
CREATE   PROCEDURE [dbo].[get_user_roles_by_user_id]
@UserId BIGINT
AS
BEGIN
    SELECT r.name
    FROM   roles AS r
           INNER JOIN
           user_roles AS ur
           ON r.id = ur.role_id
    WHERE  ur.user_id = @UserId;
END
GO
/****** Object:  StoredProcedure [dbo].[get_valid_password_reset_token]    Script Date: 8/23/2026 5:03:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 20260823_161009_get_valid_password_reset_token.sql
-- Service: identity-service
-- Type: SP
-- Created: 2026-08-23T13:10:09.674Z
-- ============================================================================
CREATE   PROCEDURE [dbo].[get_valid_password_reset_token]
@TokenHash NVARCHAR (255)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT id,
           user_id,
           type,
           expires_at,
           created_at
    FROM   user_tokens
    WHERE  token_hash = @TokenHash
           AND type = 'PasswordReset'
           AND used_at IS NULL
           AND expires_at > SYSUTCDATETIME();
END
GO
/****** Object:  StoredProcedure [dbo].[mark_password_reset_token_used]    Script Date: 8/23/2026 5:03:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 20260823_161011_mark_password_reset_token_used.sql
-- Service: identity-service
-- Type: SP
-- Created: 2026-08-23T13:10:11.613Z
-- ============================================================================
CREATE   PROCEDURE [dbo].[mark_password_reset_token_used]
@TokenId BIGINT
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE user_tokens
    SET    used_at = SYSUTCDATETIME()
    WHERE  id = @TokenId
           AND used_at IS NULL;
END
GO
/****** Object:  StoredProcedure [dbo].[reset_password]    Script Date: 8/23/2026 5:03:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 20260823_161017_reset_password.sql
-- Service: identity-service
-- Type: SP
-- Created: 2026-08-23T13:10:17.237Z
-- ============================================================================
CREATE   PROCEDURE [dbo].[reset_password]
@TokenHash NVARCHAR (255), @NewPasswordHash NVARCHAR (255)
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON; -- forces a full auto-rollback on any runtime error inside this batch,
    -- not just the ones we explicitly THROW ourselves
    DECLARE @TokenId AS BIGINT, @UserId AS BIGINT;
    BEGIN TRY
        BEGIN TRANSACTION;
        -- UPDLOCK + ROWLOCK: prevents a second concurrent reset request using the
        -- same token from reading it as still-valid before this transaction commits
        -- and marks it used. Without this, two near-simultaneous requests with the
        -- same reset link could both succeed.
        SELECT @TokenId = id,
               @UserId = user_id
        FROM   user_tokens WITH (UPDLOCK, ROWLOCK)
        WHERE  token_hash = @TokenHash
               AND type = 'PasswordReset'
               AND used_at IS NULL
               AND expires_at > SYSUTCDATETIME();
               
        IF @TokenId IS NULL
            BEGIN
                ;THROW 50003, 'Invalid or expired password reset token.', 1;
            END
        UPDATE users
        SET    password_hash = @NewPasswordHash,
               updated_at    = SYSUTCDATETIME()
        WHERE  id = @UserId;
        
        UPDATE user_tokens
        SET    used_at = SYSUTCDATETIME()
        WHERE  id = @TokenId;
        
        UPDATE refresh_tokens
        SET    revoked_at = SYSUTCDATETIME()
        WHERE  user_id = @UserId
               AND revoked_at IS NULL;

        COMMIT TRANSACTION;
        SELECT id AS userId, email
        FROM   users
        WHERE  id = @UserId;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[revoke_all_user_sessions]    Script Date: 8/23/2026 5:03:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 20260823_161015_revoke_all_user_sessions.sql
-- Service: identity-service
-- Type: SP
-- Created: 2026-08-23T13:10:15.401Z
-- ============================================================================
CREATE   PROCEDURE [dbo].[revoke_all_user_sessions]
    @UserId BIGINT
AS
BEGIN
    SET NOCOUNT ON;
 
   
       UPDATE refresh_tokens
    SET revoked_at = SYSUTCDATETIME()
    WHERE user_id = @UserId
      AND revoked_at IS NULL;
END
GO
/****** Object:  StoredProcedure [dbo].[revoke_refresh_token]    Script Date: 8/23/2026 5:03:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 20260823_161003_revoke_refresh_token.sql
-- Service: identity-service
-- Type: SP
-- Created: 2026-08-23T13:10:03.881Z
-- ============================================================================
CREATE   PROCEDURE [dbo].[revoke_refresh_token]
    @OldTokenId BIGINT,
    @NewTokenId BIGINT = NULL 
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE refresh_tokens
    SET 
        revoked_at = SYSUTCDATETIME(),
        replaced_by_token_id = @NewTokenId
    WHERE id = @OldTokenId
      AND revoked_at IS NULL; 
END
GO
/****** Object:  StoredProcedure [dbo].[revoke_session_tokens]    Script Date: 8/23/2026 5:03:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 20260823_161005_revoke_session_tokens.sql
-- Service: identity-service
-- Type: SP
-- Created: 2026-08-23T13:10:05.707Z
-- ============================================================================

CREATE   PROCEDURE [dbo].[revoke_session_tokens]
    @SessionId UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;
 
    UPDATE refresh_tokens
    SET revoked_at = SYSUTCDATETIME()
    WHERE session_id = @SessionId
      AND revoked_at IS NULL;
END
GO
/****** Object:  StoredProcedure [dbo].[rotate_refresh_token]    Script Date: 8/23/2026 5:03:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 20260823_161002_rotate_refresh_token.sql
-- Service: identity-service
-- Type: SP
-- Created: 2026-08-23T13:10:02.051Z
-- ============================================================================
CREATE   PROCEDURE [dbo].[rotate_refresh_token]
@OldTokenId BIGINT, @UserId BIGINT, @NewJti UNIQUEIDENTIFIER, @NewSessionId UNIQUEIDENTIFIER, @NewTokenHash NVARCHAR (255), @ExpiresInDays INT
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @NewTokenId AS BIGINT;
    DECLARE @SessionStartedAt AS DATETIME2;
    BEGIN TRY
        BEGIN TRANSACTION;
        
        SELECT @SessionStartedAt = MIN(created_at)
        FROM   refresh_tokens
        WHERE  session_id = @NewSessionId;
        
        DECLARE @CalculatedExpiresAt AS DATETIME2 = DATEADD(DAY, @ExpiresInDays, @SessionStartedAt);
        
        INSERT  INTO refresh_tokens (user_id, jti, session_id, token_hash, expires_at)
        VALUES                     (@UserId, @NewJti, @NewSessionId, @NewTokenHash, @CalculatedExpiresAt);
        SET @NewTokenId = SCOPE_IDENTITY();
        
        UPDATE refresh_tokens
        SET    revoked_at           = SYSUTCDATETIME(),
               replaced_by_token_id = @NewTokenId
        WHERE  id = @OldTokenId;
        
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[update_user_password]    Script Date: 8/23/2026 5:03:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 20260823_161013_update_user_password.sql
-- Service: identity-service
-- Type: SP
-- Created: 2026-08-23T13:10:13.472Z
-- ============================================================================
CREATE   PROCEDURE [dbo].[update_user_password]
@UserId BIGINT, @PasswordHash NVARCHAR (255)
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE users
    SET    password_hash = @PasswordHash,
           updated_at    = SYSUTCDATETIME()
    WHERE  id = @UserId;
END
GO
USE [master]
GO
